@font-face {
  font-family: "marcellus";
  src: url(./Font-Family/Marcellus-Regular.ttf);
}
@font-face {
  font-family: "lato";
  src: url(./Font-Family/Lato-Regular.ttf);
}
@font-face {
  font-family: "Dancing-Script";
  src: url(./Font-Family/DancingScript-VariableFont_wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "marcellus";
}
/* ===================================================== Header Section Styling started =====================================================  */
header {
  height: 100px;
}
nav {
  width: 100%;
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  flex: 30%;
  padding: 1rem;
  position: fixed;
  z-index: 10;
  background-color: white;
}
#menu-icon img {
  height: 30px;
  display: none;
}
#nav-logo > img {
  width: 30%;
  height: 60px;
  width: 130px;
}

#links-list {
  display: flex;
  width: 40%;
  align-items: center;
  gap: 50px;
  list-style: none;
  padding-right: 200px;
}
#links-list > li > a {
  font-family: "lato";
  text-decoration: none;
  color: black;
  font-weight: 600;
}
#cart-icon {
  background-image: url(./Assets/Navbar-section/cart.svg);
  background-size: cover;
  background-position: center;
  width: 55px;
  height: 55px;
}
#cart-icon > p {
  font-family: "Courier New", Courier, monospace;
  background-color: red;
  transform: translate(180%);
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  padding: 4px;
  color: white;
  display: inline-block;
}
#Reservation-btn {
  width: 30%;
  height: 55px;
  width: 200px;
  font-family: "lato";
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 40px;
  background-color: #e7272d;
  color: white;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}
#Reservation-btn:hover {
  background-color: black;
  color: white;
}
/* ===================================================== Header Styling Section end =====================================================  */

/* ===================================================== Hero Section Styling started =====================================================  */
.hero-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.carousel {
  position: relative;
  width: 94%;
  height: 600px;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide.active {
  opacity: 1;
}

.slide img {
  border-radius: 10px;
  object-fit: cover;
}
.slide > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.hero-right-side-div > img {
  height: 400px;
}
#content > img {
  height: 350px;
}

.discout-pic > div {
  height: 250px;
  width: 250px;
  background-color: #e7272d;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(
    50% 0%,
    /* top middle */ 93.3% 25%,
    /* top-right */ 93.3% 75%,
    /* bottom-right */ 50% 100%,
    /* bottom middle */ 6.7% 75%,
    /* bottom-left */ 6.7% 25% /* top-left */
  );
}

.buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons button {
  background: rgba(255, 255, 255, 0.47);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

/* ===================================================== Hero Section Styling End =====================================================  */

/* ===================================================== About Section Styling Started =====================================================  */
.about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding: 40px 0 140px 0;
  position: relative;
  z-index: 1;
}
#patta {
  position: absolute;
  bottom: 10px;
  left: 20px;
  height: 250px;
  z-index: -2;
}
#tomato {
  position: absolute;
  bottom: 10px;
  right: 20px;
  z-index: -2;
}
.section-top {
  display: flex;
  color: #e7272d;
  text-transform: uppercase;
}
.section-top img {
  margin: 0 10px;
}
.section-heading {
  width: 50%;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.about-content-div {
  /* height: 450px; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.about1-pic {
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about1-pic > img {
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.about2-pic {
  height: 100%;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;
}
.burgers-types {
  height: 140px;
  width: 100%;
  background-color: #e7272d;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.burgers-types > h1,
.burgers-types > p {
  color: white;
}
.burgers-types > h1 {
  font-size: 46px;
}
.about2-pic img {
  height: 280px;
  width: 100%;
  border-radius: 25px;
}
.about-div {
  height: 100%;
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.about-div > p {
  color: rgb(93, 91, 91);
  font-size: 15px;
  margin-left: 10px;
}
.about-div-detail {
  display: flex;
  align-items: center;
  border: 1px solid rgb(117, 115, 115);
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}
.about-div-detail h2 {
  margin-bottom: 10px;
}
.about-div-detail-pic-icon {
  background-color: black;
  margin: 10px;
  padding: 20px;
  border-radius: 50%;
}
.delivary {
  margin-top: 20px;
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.authentic {
  border-left: none;
  border-top: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}
.about-div-detail-pic-icon > img {
  height: 80px;
}

#our-special {
  background-color: #ebe9e6;
}
.cards-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  height: 550px;
  width: 285px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  user-select: none;
  transition: all 0.3s ease;
}
.card:hover {
  background-color: white;
}
.card .img {
  width: 100%;
  height: 50%;
}
.rating {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  /* padding: 3px; */
  overflow: hidden;
}
.stars-span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  border: 1px solid rgb(98, 97, 97);
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.star {
  width: 30px;
}
.price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  width: 25%;
  background-color: #e7272d;
  border-radius: 0 10px 10px 0;
}
.card p {
  width: 80%;
  text-align: center;
  color: rgb(84, 83, 83);
}

#deals-section {
  background-color: #1b1b1b;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
}
.deals-divs {
  position: relative;
  background-size: cover;
  background-position: right;
  width: 650px;
  height: 400px;
  border-radius: 10px;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}
.deals-first-div {
  background-image: url(./Assets/Best-deals/1st.jpeg);
  align-items: flex-start;
  padding-left: 50px;
}
.deals-second-div {
  background-image: url(./Assets/Best-deals/2nd.jpeg);
  align-items: flex-end;
   padding-right: 50px;
}

.div-absolute{
  position: absolute;
  top: 50px;
  right: 180px;
}
.div-absolute h3{
color: white;
font-size: 30px;
font-family: "lato";
font-weight: 600;
}

.deals-second-div h3{
  position: absolute;
  top: 30px;
  left: 50px;
  font-size: 40px;
  font-family: "lato";
  background-color: white;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    /* top middle */ 93.3% 25%,
    /* top-right */ 93.3% 75%,
    /* bottom-right */ 50% 100%,
    /* bottom middle */ 6.7% 75%,
    /* bottom-left */ 6.7% 25% /* top-left */
  );
}
.deals-second-div h3>span{
  font-family: "lato";
  color: #e7272d;
  font-size: 50px;
}
.deals-divs h4 {
  font-family: "Dancing-Script";
  font-size: 30px;
  color: white;
  margin-top: 50px;
}
.deals-divs h2 {
  color: white;
  font-size: 70px;
  width: 250px;
  text-transform: uppercase;
  line-height: 60px;
  margin: 25px 0;
}
.deals-second-div h2{
    text-align: end;
}
.deals-divs a{
  padding: 18px 26px;
  border-radius: 30px;
}
 
.deals-btn{
  border: none;
  background-color: #e7272d;
  padding: 20px 30px;
  border-radius: 30px;
  color:white;
}
.deals-btn button{
  background-color: transparent;
  border: none;
  font-size: 17px;
  font-weight: 600;

}
.left-side-btn{
  background-color: white;
    transition: all .3s ease;
}
.left-side-btn:hover{
background-color: #e7272d;
}
.left-side-btn:hover #btn{
color: white;
}
.right-side-btn{
    transition: all .3s ease;
}
.right-side-btn button{
  color: white;
}
.right-side-btn:hover{
background-color: white;
}
.right-side-btn:hover #btn2{
color: black;
}
/* ===================================================== About Section Styling End =====================================================  */

.menus{
  display: flex;
}
.single-menu{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 20px;
  border: 1px dotted rgb(215, 212, 212);
}
.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 180px;
  width: 650px;
  padding: 30px;
  border: 1px dotted rgb(215, 212, 212);
  border-collapse: collapse;
}
.menu-item img{
  height: 100px;
}
.menu-item div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-item div>h2>span{
background-color: #e7272d;
color: white;
font-family: "lato";
font-size: 16px;
padding: 5px 15px;
border-radius: 5px;
text-transform: uppercase;
margin-left: 20px;
}
.menu-item div>p{
  font-size: 18px;
  color: rgb(47, 46, 46);
}
.menu-item>h2{
  font-family: "lato";
  font-size: 35px;
}


.combo-offer{
  height: 100vh;
  width: 100%;
  background-image: url(./Assets/Combo-Offer/background.jpeg);
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
}
.combo-divs{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-content-div{
  align-items: flex-start;
  flex-direction: column;
  margin-left: 150px;
  gap: 20px;
}
.offer-content-div h3{
  font-family: "Dancing-Script";
  color: white;
  font-size: 40px;
}
.offer-content-div h1{
  font-size: 70px;
  color: white;
  width: 75%;
  text-transform: uppercase;
}
.offer-content-div p{
  color: white;
  width: 70%;
}
.offer-img-div{
  position: relative;
}
.offer-img-div h1{
  position: absolute;
  top: -70px;
  left: 100px;
  font-size: 35px;
  font-family: "lato";
  background-color: #e7272d;
  height: 220px;
  width: 220px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  clip-path: polygon(
    50% 0%,
    /* top middle */ 93.3% 25%,
    /* top-right */ 93.3% 75%,
    /* bottom-right */ 50% 100%,
    /* bottom middle */ 6.7% 75%,
    /* bottom-left */ 6.7% 25% /* top-left */
  );
}
.offer-img-div h1>span{
  text-decoration: line-through;
  font-size: 30px;
  margin-right: 10px;
}
#circle-img{
  height: 500px;
  border-radius: 50%;
  border: 5px solid rgb(53, 52, 52);

}
#image-2{
  position: absolute;
  height: 250px;
  bottom: -70px;
  right: 100px;
}



@media (max-width: 1350px) {
  .deals-divs {
    width: 580px;
  }
  .menu-item{
    width: 560px;
    height: 145px;
  }
  .menu-item img{
    height: 84px;
  }
  .offer-content-div{
    margin-left: 100px;
  }
  .offer-content-div h1{
    width: 91%;
  }
  .offer-content-div p{
    width: 90%;
  }
  .offer-img-div h1{
    top: -90px;
    left: 50px;
  }
  #circle-img{
    height: 430px;
  }
  #image-2{
    bottom: -100px;
  }

}
@media (max-width: 1200px) {
  .hero-right-side-div {
    margin-left: 50px;
  }

  .section-heading {
    width: 60%;
  }
  .about1-pic {
    width: 400px;
  }
  .about2-pic {
    width: 300px;
  }
  .burgers-types {
    margin-bottom: 60px;
  }
  #tomato {
    display: none;
  }
  #patta {
    display: none;
  }
  .about-div {
    width: 80%;
  }
  .delivary {
    margin-top: 100px;
  }

  .cards-div {
    gap: 40px;
  }
  .card {
    height: 700px;
    width: 450px;
    background-color: white;
  }
  #deals-section{
  flex-direction: column;
}
.deals-divs{
  width: 950px;
}
.deals-divs h4{
  margin-top: 100px;
}
.deals-divs h2{
  width: 90%;
}
.div-absolute{
right: 280px;
}

.menus{
  flex-direction: column;
  gap: 30px;
}
.menu-item{
  width: 900px;
  height: 200px;
}
.menu-item img{
  height: 150px;
  margin-left: 60px;
}
.offer-content-div{
  margin-left: 80px;
}
.offer-content-div h1{
  font-size: 55px;
}

}
@media (max-width: 992px) {
  nav {
    justify-content: space-between;
  }
  #menu-icon img {
    display: block;
  }
  #links-list {
    display: none;
  }
  #Reservation-btn {
    display: none;
  }
  .hero-section {
    padding: 0;
  }
  .carousel {
    height: 450px;
  }
  .hero-right-side-div > img {
    height: 300px;
  }
  .discout-pic > div {
    height: 180px;
    width: 180px;
  }
  .discout-pic img {
    height: 100px;
    width: 100px;
  }
  .section-top {
    margin-top: 30px;
  }
  .about-div {
    width: 100%;
  }
  .about-div > p {
    margin-top: 40px;
    width: 80%;
  }
  .about-div-detail {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-div-detail-pic-detail {
    text-align: start;
    padding-left: 20px;
  }

  .card {
    height: 550px;
    width: 350px;
    background-color: white;
  }
.deals-divs{
  width: 750px;
 justify-content: center;
}
.div-absolute{
 position: static;
}
.deals-divs h2{
  font-size: 50px;
}
.deals-first-div h2{
  text-align: start;
}
.deals-second-div h2{
  text-align: end;
}
.deals-divs h4{
  margin-top: 30px;
}

.menu-item{
  width: 700px;
  height: 150px;
}
.menu-item img{
  height: 120px;
  margin-left: 20px;
}
.combo-offer{
  flex-direction: column;
  gap: 200px;
  height: 200vh;
background-position: center;
}
.combo-divs{
  width: 80%;
}
.offer-content-div{
  align-items: center;
  margin-left: 0;
}
.offer-content-div h1{
  font-size: 70px;
  text-align: center;
}
.offer-content-div p{
  text-align: center;
  width: 93%;
}
.offer-img-div h1{
    top: -100px;
    left: 250px;
  }
  #circle-img{
    height: 600px;
  }
  #image-2{
    bottom: -100px;
  }



}
@media (max-width: 768px) {
  .carousel {
    height: 350px;
    width: 100%;
    border-radius: 0;
  }
  .hero-right-side-div > img {
    height: 200px;
  }
  .discout-pic > div {
    height: 160px;
    width: 160px;
  }
  .section-top {
    font-size: 20px;
  }
  .section-heading {
    width: 80%;
  }
  .about-content-div {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 100px;
  }
  .about1-pic {
    height: 600px;
    width: 70%;
  }
  .about2-pic {
    height: 600px;
    width: 60%;
  }
  .burgers-types {
    height: 200px;
  }
  .about2-pic img {
    height: 340px;
  }

  .cards-div {
    flex-direction: column;
  }
  .card {
    height: 750px;
    width: 500px;
  }
  .deals-divs{
  width: 520px;
  height: 500px;
  background-repeat: no-repeat;
  align-items: center;
}
.deals-first-div{
  background-position: -3rem;
}
 .deals-second-div h3{
  position: static;
 }
 .single-menu{
  border: none;
  gap: 40px;
 }
.menu-item{
  flex-direction: column;
  height: 500px;
  width: 520px;
  border-radius: 20px;
  justify-content: space-around;
}
.menu-item img{
  height: 200px;
}
.menu-item div>h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

}
@media (max-width: 578px) {
  .carousel {
    height: 350px;
  }
  .hero-right-side-div {
    margin-left: 20px;
  }
  .hero-right-side-div > img {
    height: 35vw;
  }
  .discout-pic > div {
    height: 25vw;
    width: 25vw;
    padding: 10px;
  }
  .discout-pic img {
    height: 18vw;
  }
  .section-top {
    font-size: 6vw;
  }
  .section-top img {
    display: none;
  }
  .section-heading {
    width: 100%;
    font-size: 8vw;
  }
  .about1-pic {
    height: 130vw;
    width: 97%;
  }
  .about2-pic {
    height: 130vw;
    width: 97%;
  }
  .burgers-types {
    height: 40vw;
  }
  .about2-pic img {
    height: 80vw;
  }
  .about-div {
    width: 100%;
  }
  .about-div > p {
    width: 90%;
  }
  .about-div-detail {
    width: 90%;
  }

  .card {
    height: 130vw;
    width: 90%;
  }
.deals-divs{
  width: 96%;
}
.deals-divs h2{
  width: 100%;
  text-align: center;
}

.menus{
  width: 90%;
}
.menu-item{
  width: 100%;
}
}
